{% extends "auctions/layout.html" %}

{% block body %}

<h1 class="h2"> Closed Auctions</h1>

<div class="listing">

    {% for list in listing %}
    <div class="listingitem" >
    <h1 class="listname"  style="margin-top: -25px;">{{list.name}}</h1>
    <img   id="listingmedia" src="{{list.imageurl.url}}" alt="{{list.name}} image "  height="200px" width="330px" style="margin-top:-10px ;border: 1px rgb(17, 94, 17) solid;margin-left: -10px;">
    <div class="down"  style="margin-top: 40px; padding-top: -10px;">
      <span class="price"> {{list.bid.price}}$</span>  <br> <br> <br>
     <a href="{% url 'listingpage' list.id %}" class="readmore" >Read more</a> <br>  <br>
     {% if  owner%}
     <form action="{% url 'deletelisting' list.id %}" method="post" id="deleteitem">
      {%csrf_token%}
      <input type="submit" name="delete" class="button"   value="delete" style="margin-left: 10px;">
     </form>
  {%endif%}
    </div>
    </div>
    
    {%endfor%}
    </div>
 
{% endblock %}