{% extends "auctions/layout.html"%}
{% block body%}
{{message}}
<div>
<div id="newlisting">
<h1 class="h2" id="head">Create New Listing</h1>
 <div class="form_group">
<form action="{% url 'savelisting'%}"  method="post" enctype="multipart/form-data">
  {% csrf_token%}
  title:           <input type="text" name="title" class="newtext" id="title" placeholder="Enter maximum of 4 word"><br><br>
  decription: <input type="text" name="description" class="newtext"  id="description" placeholder="description"><br> <br>
  Bid: <input type="text" name="bid" class="newtext" id="bidtext" placeholder="in dollars"><br> <br>
  
   image url: <input type="file" name="imageurl"  id="imageurl" > <br><br>
   category: <select name="category" id="newcategory" >
    <option value="academic" id="categoryvalue">academic</option>
    <option value="fashion">fashion</option>
    <option value="groceries">groceries</option>
    <option value="gadgets">gadgets</option>
  
   </select><br> <br>
<input type="submit" class="button" id="submit">
</form>
</div>
</div>
{%endblock%}