{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="h2"  id="loginhead">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
<div  id="newlisting">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div  >
            
        <span id="makenew">Username:  <span></span>  <input autofocus   type="text" name="username" placeholder="Username" class="newtext"  id="new" >
        </div><br>
        
            <span id="makenew">Password:</span>   <input class="newtext"  type="password" name="password" placeholder="Password" id="new4">
        <br><br>
        <input class="button" type="submit" value="Login"id="loginbutton" >
    </form>
</div>
<br>
    Don't have an account? <a href="{% url 'register' %}" style="color:blue;">Register here</a>

{% endblock %}