{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="h2" id="loginhead">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
<div  id="newlisting" >
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div  id="list">
            <div id="space">
            <span  class="createnew">Username:  </span>  <input class="newtext"  autofocus type="text" name="username" placeholder="Username" id="new7">
        </div><br><br>
        <div>
            <span  class="createnew">Email </span>   <input class="newtext"  type="email" name="email" placeholder="Email Address" id="new6">
        </div><br><br>

        <div >
            <span class="createnew">Password: </span>   <input class="newtext"  type="password" name="password" placeholder="Password" id="new5">
        </div><br><br>
        <div>
            <span  class="createnew">Confirm Password:</span>  <input class="newtext"  type="password" name="confirmation" placeholder="Confirm Password"  id="new8">
        </div><br><br>
        <input class="button" type="submit" value="Register"  id="register2">
    </div>
    </form>
</div><br>

    Already have an account? <a href="{% url 'login' %}" style="color: blue;">Log In here.</a>

{% endblock %}